# .imlファイルは要らない
*.iml
algo-method/*.kts
algo-method/*.bat
algo-method/gradle.properties
algo-method/gradlew


# 以下のフォルダは要らない
.idea/
the Beginner of Kotlin/.idea/
the Beginner of Kotlin/out/
algo-method/.gradle/
algo-method/.idea/
algo-method/gradle/
algo-method/build/